/* Định dạng chung cho phần quản trị viên */
body {
  font-family: Arial, sans-serif;
  background-color: #f8f9fa;
  margin: 0;
  padding: 0;
}

.admin-header {
  background-color: #ffffff;
  border-bottom: 2px solid #28a745; /* Màu sắc từ logo */
  padding: 10px 20px;
}

.admin-sidebar {
  background-color: #28a745; /* Màu sắc từ logo */
  color: #ffffff;
  height: 100vh;
  padding: 20px;
}

.admin-sidebar a {
  color: #ffffff;
  text-decoration: none;
  display: block;
  padding: 10px 0;
}

.admin-sidebar a:hover {
  background-color: #94f5a9; /* Màu sắc từ logo */
}

.admin-content {
  padding: 20px;
}

.admin-footer {
  background-color: #ffffff;
  border-top: 2px solid #28a745; /* Màu sắc từ logo */
  padding: 10px 20px;
  text-align: center;
  position: fixed;
  width: 100%;
  bottom: 0;
}

.logo {
  max-width: 100px;
  margin-right: 10px;
}

.navbar-brand {
  display: flex;
  align-items: center;
}

.navbar-brand img {
  height: 50px;
}
.btn-close{
  color: #28a745;
  border: none;
  padding: 5px 10px;
  font-size: 18px;
  cursor: pointer;
}
